@model EmartMVCCaseStudy.Models.Buyer

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Buyer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BUname" class="control-label">Username</label>
                <input asp-for="BUname" class="form-control" />
                <span asp-validation-for="BUname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BPassword" class="control-label">Password</label>
                <input asp-for="BPassword"type="password" class="form-control" />
                <span asp-validation-for="BPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BEmail" class="control-label">Email</label>
                <input asp-for="BEmail" class="form-control" />
                <span asp-validation-for="BEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BMobileNo" class="control-label">Mobile Number</label>
                <input asp-for="BMobileNo" class="form-control" />
                <span asp-validation-for="BMobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BDOB" class="control-label">Date of Birth</label>
                <input asp-for="BDOB" class="form-control" />
                <span asp-validation-for="BDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @ViewBag.message
        </div>
    </div>
</div>

<div>
    <a asp-action="Login">Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
